In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
raw_data = pd.read_csv("produccin-de-pozos-de-gas-y-petrleo-no-convencional.csv")

In [35]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268933 entries, 0 to 268932
Data columns (total 40 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   idempresa               268933 non-null  object
 1   anio                    268933 non-null  int64
 2   mes                     268933 non-null  int64
 3   idpozo                  268933 non-null  int64
 4   prod_pet                268933 non-null  float64
 5   prod_gas                268933 non-null  float64
 6   prod_agua               268933 non-null  float64
 7   iny_agua                268933 non-null  float64
 8   iny_gas                 268933 non-null  float64
 9   iny_co2                 268933 non-null  float64
 10  iny_otro                268933 non-null  float64
 11  tef                     268933 non-null  float64
 12  vida_util               5714 non-null    float64
 13  tipoextraccion          268390 non-null  object
 14  tipoestado              268390 non-null  object
 15  tipopozo                268390 non-null  object
 16  observaciones           14620 non-null   object
 17  fechaingreso            268933 non-null  object
 18  rectificado             268933 non-null  object
 19  habilitado              268933 non-null  object
 20  idusuario               268933 non-null  int64
 21  empresa                 268933 non-null  object
 22  sigla                   268933 non-null  object
 23  formprod                268933 non-null  object
 24  profundidad             268933 non-null  float64
 25  formacion               268933 non-null  object
 26  idareapermisoconcesion  268933 non-null  object
 27  areapermisoconcesion    268933 non-null  object
 28  idareayacimiento        268933 non-null  object
 29  areayacimiento          268933 non-null  object
 30  cuenca                  268933 non-null  object
 31  provincia               268933 non-null  object
 32  coordenadax             268933 non-null  float64
 33  coordenaday             268933 non-null  float64
 34  tipo_de_recurso         268933 non-null  object
 35  proyecto                268933 non-null  object
 36  clasificacion           268151 non-null  object
 37  subclasificacion        268151 non-null  object
 38  sub_tipo_recurso        268621 non-null  object
 39  fecha_data              268933 non-null  object
dtypes: float64(12), int64(4), object(24)
memory usage: 82.1+ MB

In [16]:
data1 = raw_data
data1.drop(columns=["idempresa", "idpozo", "fecha_data", "observaciones", "fechaingreso", "idusuario", "sigla", "idareapermisoconcesion", "idareayacimiento", "coordenadax", "coordenaday", "proyecto"])

,anio,mes,prod_pet,prod_gas,prod_agua,iny_agua,iny_gas,iny_co2,iny_otro,tef,...,profundidad,formacion,areapermisoconcesion,areayacimiento,cuenca,provincia,tipo_de_recurso,clasificacion,subclasificacion,sub_tipo_recurso
0,2016,1,4.240000,90.360000,5.56000,0.0,0.0,0.0,0.0,31.00000,...,2852.0,precuyo,AL SUR DE LA DORSAL,RANQUIL CO,NEUQUINA,Neuquén,NO CONVENCIONAL,EXPLOTACION,DESARROLLO,TIGHT
1,2017,1,0.000000,0.000000,0.00000,0.0,0.0,0.0,0.0,0.00000,...,3840.0,lajas,ESTACION FERNANDEZ ORO,ESTACION FERNANDEZ ORO,NEUQUINA,Rio Negro,NO CONVENCIONAL,EXPLOTACION,DESARROLLO,TIGHT
2,2015,1,89.250000,914.640000,26.56000,0.0,0.0,0.0,0.0,30.12000,...,3785.0,lajas,ESTACION FERNANDEZ ORO,ESTACION FERNANDEZ ORO,NEUQUINA,Rio Negro,NO CONVENCIONAL,EXPLOTACION,DESARROLLO,TIGHT
3,2017,1,10.220000,246.960000,30.03000,0.0,0.0,0.0,0.0,31.00000,...,2804.0,precuyo,AL SUR DE LA DORSAL,RANQUIL CO,NEUQUINA,Neuquén,NO CONVENCIONAL,EXPLOTACION,DESARROLLO,TIGHT
4,2015,1,6.570000,226.470000,14.04000,0.0,0.0,0.0,0.0,31.00000,...,2700.0,precuyo,AL SUR DE LA DORSAL,RANQUIL CO,NEUQUINA,Neuquén,NO CONVENCIONAL,EXPLOTACION,DESARROLLO,TIGHT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268928,2023,7,0.000000,0.000000,0.00000,0.0,0.0,0.0,0.0,0.00000,...,3780.0,tordillo,JARILLA QUEMADA,JARILLA QUEMADA,NEUQUINA,Rio Negro,NO CONVENCIONAL,EXPLORACION,EXTENSION,TIGHT
268929,2023,8,161.501428,1254.897917,350.61510,0.0,0.0,0.0,0.0,19.00000,...,2858.0,punta rosada,ENTRE LOMAS,CHARCO BAYO,NEUQUINA,Rio Negro,NO CONVENCIONAL,EXPLORACION,EXPLORATORIO PROFUNDO,TIGHT
268930,2023,8,31.032848,9.270398,84.30966,0.0,0.0,0.0,0.0,30.55139,...,2585.0,vaca muerta,ENTRE LOMAS,EL CARACOL,NEUQUINA,Neuquén,NO CONVENCIONAL,EXPLOTACION,AVANZADA,SHALE
268931,2023,8,329.449258,3657.015772,10.94329,0.0,0.0,0.0,0.0,31.00000,...,2840.0,punta rosada,ENTRE LOMAS,CHARCO BAYO,NEUQUINA,Rio Negro,NO CONVENCIONAL,EXPLOTACION,DESARROLLO,TIGHT
268932,2023,8,0.000000,0.000000,0.00000,0.0,0.0,0.0,0.0,0.00000,...,3780.0,tordillo,JARILLA QUEMADA,JARILLA QUEMADA,NEUQUINA,Rio Negro,NO CONVENCIONAL,EXPLORACION,EXTENSION,TIGHT

In [49]:
data1.isnull().any()

idempresa                 True
anio                      True
mes                       True
idpozo                    True
prod_pet                  True
prod_gas                  True
prod_agua                 True
iny_agua                  True
iny_gas                   True
iny_co2                   True
iny_otro                  True
tef                       True
vida_util                 True
tipoextraccion            True
tipoestado                True
tipopozo                  True
observaciones             True
fechaingreso              True
rectificado               True
habilitado                True
idusuario                 True
empresa                   True
sigla                     True
formprod                  True
profundidad               True
formacion                 True
idareapermisoconcesion    True
areapermisoconcesion      True
idareayacimiento          True
areayacimiento            True
cuenca                    True
provincia                 True
coordenadax               True
coordenaday               True
tipo_de_recurso           True
proyecto                  True
clasificacion             True
subclasificacion          True
sub_tipo_recurso          True
fecha_data                True
dtype: bool

In [46]:
data1["vida_util"].value_counts()

2342.0000    12
1447.5000    12
455.0000     12
790.0000     12
2222.0000     8
             ..
1477.3890     1
2094.6640     1
969.3195      1
9392.9110     1
766.3400      1
Name: vida_util, Length: 465, dtype: int64

In [43]:
data1[data1.vida_util.eq(0)] = np.nan

In [48]:
data1.dropna()

Empty DataFrame
Columns: [idempresa, anio, mes, idpozo, prod_pet, prod_gas, prod_agua, iny_agua, iny_gas, iny_co2, iny_otro, tef, vida_util, tipoextraccion, tipoestado, tipopozo, observaciones, fechaingreso, rectificado, habilitado, idusuario, empresa, sigla, formprod, profundidad, formacion, idareapermisoconcesion, areapermisoconcesion, idareayacimiento, areayacimiento, cuenca, provincia, coordenadax, coordenaday, tipo_de_recurso, proyecto, clasificacion, subclasificacion, sub_tipo_recurso, fecha_data]
Index: []

[0 rows x 40 columns]