In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("produccin-de-pozos-de-gas-y-petrleo-2023.csv")

C:\Users\User\AppData\Local\Temp\ipykernel_24092\271225030.py:1: DtypeWarning: Columns (16,36) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("produccin-de-pozos-de-gas-y-petrleo-2023.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 716462 entries, 0 to 716461
Data columns (total 38 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   idempresa               716462 non-null  object
 1   anio                    716462 non-null  int64
 2   mes                     716462 non-null  int64
 3   idpozo                  716462 non-null  int64
 4   prod_pet                716462 non-null  float64
 5   prod_gas                716462 non-null  float64
 6   prod_agua               716462 non-null  float64
 7   iny_agua                716462 non-null  float64
 8   iny_gas                 716462 non-null  float64
 9   iny_co2                 716462 non-null  float64
 10  iny_otro                716462 non-null  float64
 11  tef                     716462 non-null  float64
 12  vida_util               18059 non-null   float64
 13  tipoextraccion          716435 non-null  object
 14  tipoestado              716435 non-null  object
 15  tipopozo                716435 non-null  object
 16  observaciones           48832 non-null   object
 17  fechaingreso            716462 non-null  object
 18  rectificado             716462 non-null  object
 19  habilitado              716462 non-null  object
 20  idusuario               716462 non-null  int64
 21  empresa                 716462 non-null  object
 22  sigla                   716462 non-null  object
 23  formprod                692342 non-null  object
 24  profundidad             716462 non-null  float64
 25  formacion               691330 non-null  object
 26  idareapermisoconcesion  716462 non-null  object
 27  areapermisoconcesion    716462 non-null  object
 28  idareayacimiento        716462 non-null  object
 29  areayacimiento          716462 non-null  object
 30  cuenca                  716435 non-null  object
 31  provincia               716462 non-null  object
 32  tipo_de_recurso         716462 non-null  object
 33  proyecto                716462 non-null  object
 34  clasificacion           563519 non-null  object
 35  subclasificacion        563519 non-null  object
 36  sub_tipo_recurso        30964 non-null   object
 37  fecha_data              716462 non-null  object
dtypes: float64(10), int64(4), object(24)
memory usage: 207.7+ MB

In [6]:
data.columns

Index(['idempresa', 'anio', 'mes', 'idpozo', 'prod_pet', 'prod_gas',
       'prod_agua', 'iny_agua', 'iny_gas', 'iny_co2', 'iny_otro', 'tef',
       'vida_util', 'tipoextraccion', 'tipoestado', 'tipopozo',
       'observaciones', 'fechaingreso', 'rectificado', 'habilitado',
       'idusuario', 'empresa', 'sigla', 'formprod', 'profundidad', 'formacion',
       'idareapermisoconcesion', 'areapermisoconcesion', 'idareayacimiento',
       'areayacimiento', 'cuenca', 'provincia', 'tipo_de_recurso', 'proyecto',
       'clasificacion', 'subclasificacion', 'sub_tipo_recurso', 'fecha_data'],
      dtype='object')